* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* font-family: 'Josefin Sans', sans-serif; */
    /* font-family: 'REM', sans-serif; */
    font-family: 'Prompt', sans-serif;
    --scrollbarBG: white;
    --thumbBG: #920492;

}
html{

    scroll-behavior: smooth;
    transition: .2s;
    
    }


#listitem::-webkit-scrollbar {
    width: 11px;
}

#listitem {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    scroll-behavior: smooth;
}

#listitem::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

#listitem::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}



.container {

    margin: 100px auto;
    border: 3px solid purple;
    background-color: white;
    width: 400px;
    height: 400px;
    /* min-height: 300px; */
    border-radius: 20px;
    animation: mymove 10s infinite;
    box-shadow: 0px 5px 10px 0px rgba(255, 0, 157, 0.7);

}

.container p {
    margin: 10px 10px 20px 10px;
    text-align: center;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
    color: purple;
    

}

.box {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    border: 2px solid rgb(222, 221, 221);
    width: 90%;
    margin: 5%;
    height: 45px;
    border-radius: 25px;
    animation: mymoveone 10s infinite;
    

}

.box input {
    padding-left: 20px;
    width: 75%;
    height: auto;
    border-radius: 25px;
    border: none;
    outline: none;
}

.box button {
    width: 25%;
    height: auto;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #d50bd5;
    color: white;
    box-shadow: inset -2px -2px 3px 3px purple;
}







#listitem {
    margin: 10px auto;
    list-style: none;
    border: 2px solid rgb(225, 223, 223);
    height: 250px;
    width: 90%;
    border-radius: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    animation: mymovetwo 10s infinite;
    
}
/* List */



/* Container border */
@keyframes mymove {
    0% {
        border-color: lightblue;
        box-shadow: 7px 7px 20px 0px rgba(0, 225, 255, 0.7);
    }
    20% {
        border-color: blue;
        box-shadow: 7px 7px 20px 0px rgba(47, 0, 255, 0.7);
    }
    40% {
        border-color: red;
        box-shadow: 7px 7px 20px 0px rgba(255, 0, 0, 0.7);
    }
    60% {
        border-color: yellow;
        box-shadow: 7px 7px 20px 0px rgba(225, 255, 0, 0.7);
    }
    80% {
        border-color: green;
        box-shadow: 7px 7px 20px 0px rgba(0, 255, 26, 0.7);
    }
    100% {
        border-color: purple;
        box-shadow: 7px 7px 20px 0px rgba(255, 0, 157, 0.7);
    }
}

@keyframes mymoveone {
    0% {
        border-color: lightblue;
    }
    20% {
        border-color: blue;
    }
    40% {
        border-color: red;
    }
    60% {
        border-color: yellow;
    }
    80% {
        border-color: green;
    }
    100% {
        border-color: purple;
    }
}

@keyframes mymovetwo {
    0% {
        border-color: lightblue;
    }
    20% {
        border-color: blue;
    }
    40% {
        border-color: red;
    }
    60% {
        border-color: yellow;
    }
    80% {
        border-color: green;
    }
    100% {
        border-color: purple;
    }
}


ul li {
    list-style: none;
    padding: 7px 50px 7px 60px;
    cursor: pointer;
    user-select: none;
    position: relative;
    border: 2px solid white;
    border-radius: 25px;

}

ul li:nth-child(even) {
    background-color: rgb(216, 215, 215);
}



ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 20px;
}


ul li.checked {
    background-color: rgb(226, 195, 226);
}

ul li.checked::before {

    background-image: url(images/checked.png);

}

ul li span {
    position: absolute;
    right: 0;
    top: 0px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: black;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background-color: #d50bd5;
}

/* #listitem{
    background-color: #eaeaea;
    display: block;
    height: 200px;
    overflow-y: scroll;
    text-align: center;
    width: 200px;
  } */